server {
    listen 443 ssl proxy_protocol;
    set_real_ip_from 0.0.0.0/0;
    real_ip_header proxy_protocol;
    server_name {{ item.value.sitename }} ;

    ssl_certificate     /etc/pki/tls/certs/{{ item.value.cert_bundle }};
    ssl_certificate_key /etc/pki/tls/private/{{ item.value.key_bundle }};

    ssl_client_certificate /etc/pki/tls/certs/{{ item.value.ca_full }};
    ssl_verify_client      on;
    ssl_crl                /etc/pki/tls/certs/{{ item.value.crl }};

#    access_log  /var/log/nginx/sms-access.log;
#    error_log   /var/log/nginx/sms-error.log debug;

        location / {
                proxy_pass  https://xml.sms16.ru;
                proxy_set_header        X-Real-Ip       $proxy_protocol_addr;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }

}
