server {
                listen 443 ssl;
                server_name www.{{ item.value.sitename }} {{ item.value.sitename }};
                return 301 https://www.infoclinica.ru;

        }

server {
        listen 80;
        server_name www.{{ item.value.sitename }} {{ item.value.sitename }};
        return 301 https://www.infoclinica.ru;
}
